/* Error: Undefined variable.
 *    ,
 * 15 | .footer-title { color: $color-principal; margin: 0 0 0.5rem 0; font-weight: 700; }
 *    |                        ^^^^^^^^^^^^^^^^
 *    '
 *   scss\footer.scss 15:24  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 15 \2502  .footer-title { color: $color-principal; margin: 0 0 0.5rem 0; font-weight: 700; }\d\a    \2502                         ^^^^^^^^^^^^^^^^\a    \2575 \a   scss\\footer.scss 15:24  root stylesheet";
}
