* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

$header-height: 200px;

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  #{$propiedad}: $color-fondo;
  color: $color-texto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: $header-height;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}
main {
  min-height: calc(100vh - $header-height);
}